

section{
    width: 700px;
    
        display: flex; /* or inline-flex */
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
}

#mySvg {
width: 100px;
height: 100px;
}



.pop{
    transform-box: fill-box;
    transform-origin: center; 

}


